/* h3 {
  font-style: normal;
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 20px;
  color: darkred;
}
.btn {
  font-size: larger;
  font-weight: bold;
  background-color: cornflowerblue;
}
/*.container {
  margin-top: 200px;
}
.form-group {
  font-style: oblique;
  font-size: x-large;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}*/
/*.form-control {
  font-size: large;
  font-style: normal;
}
.container {
  color: black;
}
.left-btn {
  margin-top: 10px;
  float: left;
}
.right-btn {
  margin-top: 10px;
  float: right;
} */
